 <nav class="navbar navbar-inverse navbar-fixed-top" style="background:orange">
            <div class="container">
                <div class="navbar-header">
                  
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    
                    <li><a href="/">Add Employee</a></li>
                    <li><a href="/listEmployee">List Employee</a></li>
                  </ul>
                </div>
            </div>
        </nav>